/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}


/* navbar */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center center;
}
nav{
    padding: 18px;
}
nav .container > *{
    padding: 14px 10px;
}
nav .container{
     display: flex;
}
nav .logo{
    width: 240px;
}
nav .nav-links{
    flex-grow: 1;
}
nav .nav-links ul{
    display: flex;
    justify-content: center;
    
    gap: 36px;

    list-style-type: none;
}
a{
    font-size: 12px;
    text-decoration: none;
    color: white;
}
nav .login{
    width: 240px;
    text-align: right;
}
.button{
    border-style: none;
    border-radius: 100px;

    font-size: 14px;
    font-weight: bold;
}
#login-button{
    padding: 10px;
}

/* download */
.s-container{
    text-align: center;
    flex-direction: column;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    color: white;
}
.s-container h1{
    margin-bottom: 40px;
    font-size: 35px;
}
.s-container p{
    margin-bottom: 40px;
    padding: 0px 150px;
}
.button-container{
    margin-bottom: 130px ;
}
.s-container div #mac-download{
    padding: 14px 22px;
    margin-right: 15px;
}
.s-container div #discord-browser{
    padding: 14px 22px;
    margin-left: 15px;

    background-color: #23272a;
    color: white;
}


/* sezioni img e descrizione */
main .row{
    padding: 150px 0px;
}

.img-column{
    flex-grow: 1;
}
.img-column .img-left{
    width: 500px;
    margin-left: 140px;
}
.img-column .img-right{
    width: 500px;
    margin-right: 140px;
}


.text-column-right{
    padding: 30px 270px 0px 0px;
    width: 480px; 
}
.text-column-left{
    padding: 30px 0px 0px 130px;
    width: 480px;   
}
.text-column-left h2, .text-column-right h2{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 26px;

}
.text-column-left p, .text-column-right p{
    font-size: 12px;
}
.bg-gray {
    background-color: #f6f6f6;
}


/* img e download */
.download{
    text-align: center;
}
.download h2{
    padding-top: 50px;
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 22px;
}
.download p{
    padding: 0px 220px ;
    font-size: 12px;
}
.download .stars{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100px;

    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.download .star h3{   
    margin: 20px auto;
    height: 40px;
}
.download #mac-download-2{
    background-color: #8ea1e1;
    color: white;

    padding: 16px 26px;
    margin-bottom: 120px;
}




/* footer */

.bg-black{
    background-color: #23272a;
}
footer{
    padding-top: 12px;
}

/* info */

#footer-top{
    margin-bottom: 40px;
}
footer .footer-link{
    background-color: #f08080;
    height: 580px;
    width: 360px;
    /* test */
}
footer .footer-info{
    background-color: #20b2aa;
    /* test */
    
    flex-grow: 1;   
}

/* logo e button */

#footer-bottom{
    background-color: #7fffd4;
    /* test */

    justify-content: space-between;

    margin-top: 30px;
    padding: 20px 0px;
}
#footer-bottom > *{
    background-color: #ffb6c1;
    border: 1px dashed black;

    padding: 10px 14px;
}