/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.hero, section{
    padding: 40px 20px;
}

.flex{
    display: flex;
}
img{
    display: inline-block;
}

/* navbar */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center center;
}
nav{
    padding: 18px;
}
nav .container > *{
    padding: 14px 10px;
}
nav .container{
     display: flex;
}
nav .logo{
    width: 240px;
}
nav .nav-links{
    flex-grow: 1;
}
nav .nav-links ul{
    display: flex;
    justify-content: center;
    
    gap: 12px;

    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
nav .login{
    width: 240px;
    text-align: right;
}
.button{
    border-style: none;
    border-radius: 20px;

    font-size: 14px;

    margin-right: 30px;
}
#login-button{
    font-weight: bold;

    padding: 10px;
}

/* download */
.s-container{
    text-align: center;
    flex-direction: column;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    color: white;
}
.s-container h1{
    margin-bottom: 40px;
    font-size: 35px;
}
.s-container p{
    margin-bottom: 40px;
    padding: 0px 150px;
}
.button-container{
    margin-bottom: 130px ;
}
.s-container div #mac-download{
    padding: 14px 22px;
}
.s-container div #discord-browser{
    padding: 14px 22px;

    background-color: #23272a;
    color: white;
}








/* sezioni img e descrizione */
.img-column{
    background-color: #1e90ff;
    height: 500px;
    /* test */

    flex-grow: 1;
}
.text-column{
    background-color: #ffc0cb;
    height: 500px;
    /* test */

    width: 480px;
}
.bg-gray {
    background-color: #d3d3d3;
}


/* img e download */
.download{
    height: 900px;
    /* test */

    background-color: #228b22;
}


/* footer */

.bg-black{
    background-color: #23272a;
}
footer{
    padding-top: 12px;
}

/* info */

#footer-top{
    margin-bottom: 40px;
}
footer .footer-link{
    background-color: #f08080;
    height: 580px;
    width: 360px;
    /* test */
}
footer .footer-info{
    background-color: #20b2aa;
    /* test */
    
    flex-grow: 1;   
}

/* logo e button */

#footer-bottom{
    background-color: #7fffd4;
    /* test */

    justify-content: space-between;

    margin-top: 30px;
    padding: 20px 0px;
}
#footer-bottom > *{
    background-color: #ffb6c1;
    border: 1px dashed black;

    padding: 10px 14px;
}